<% flash.each do |key, value| %>
    <div 
    class="bg-green-200 px-4 py-2 mx-auto max-w-xs rounded-lg animate-[notify_4s_ease-in-out]" 
    data-controller="flash"
    data-action="animationend->flash#remove">
        <p class="font-semibold"><%= value %></p>
    </div>
<% end %>

